<div class="ps-section--features-product ps-section masonry-root">
    <div class="ps-container">
        <div class="ps-section__header mb-50">
            <h3 class="ps-section__title" data-mask="features">- Feature Products</h3>
        </div>
        <div class="ps-section__content pb-50">
            <div class="masonry-wrapper" data-col-md="4" data-col-sm="2" data-col-xs="1" data-gap="30"
                data-radio="100%">
                <div class="ps-masonry">
                    <div class="grid-sizer"></div>
                    {{#each dTemplate}}
                    <div class="grid-item">
                        <div class="grid-item__content-wrapper">
                            <div class="ps-shoe mb-30">
                                <div class="ps-shoe__thumbnail">
                                    <img src="/images/shoes/{{shoeImg}}" alt=""><a class="ps-shoe__overlay"
                                        href="/shoes/{{id}}"></a>
                                </div>
                                <div class="ps-shoe__content">
                                    <div class="ps-shoe__variants">
                                        <div class="ps-shoe__variant normal">
                                            {{#each shoeSubImg}}
                                            <img src="/images/shoes/{{subImgPath}}" alt="">
                                            {{/each}}
                                        </div>

                                    </div>
                                    <div class="ps-shoe__detail"><a class="ps-shoe__name" href="#">{{shoeName}}</a>
                                        <p class="ps-shoe__categories"><a style="cursor:default;">{{shoeBrand}}</a></p>
                                        <span class="ps-shoe__price">
                                            ${{shoeCost}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ps-section--offer">
    <div class="ps-column"><a class="ps-offer" href="product-listing.html"><img src="/images/banner/bannerA.png"
                alt=""></a></div>
    <div class="ps-column"><a class="ps-offer" href="product-listing.html"><img src="/images/banner/bannerB.png"
                alt=""></a></div>
</div>
<div class="ps-section ps-section--top-sales ps-owl-root pt-80 pb-80">
    <div class="ps-container">
        <div class="ps-section__header mb-50">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 ">
                    <h3 class="ps-section__title" data-mask="BEST SALE">- Top Sales</h3>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                    <div class="ps-owl-actions"><a class="ps-prev" href="#"><i
                                class="ps-icon-arrow-right"></i>Prev</a><a class="ps-next" href="#">Next<i
                                class="ps-icon-arrow-left"></i></a></div>
                </div>
            </div>
        </div>
        <div class="ps-section__content">
            <div class="ps-owl--colection owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000"
                data-owl-gap="30" data-owl-nav="false" data-owl-dots="false" data-owl-item="4" data-owl-item-xs="1"
                data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-duration="1000"
                data-owl-mousedrag="on">
                {{#each dTemplate}}
                <div class="grid-item">
                    <div class="grid-item__content-wrapper">
                        <div class="ps-shoe mb-30">
                            <div class="ps-shoe__thumbnail">
                                <img src="/images/shoes/{{shoeImg}}" alt=""><a class="ps-shoe__overlay"
                                    href="/shoes/{{id}}"></a>
                            </div>
                            <div class="ps-shoe__content">
                                <div class="ps-shoe__variants">
                                    <div class="ps-shoe__variant normal">
                                        {{#each shoeSubImg}}
                                        <img src="/images/shoes/{{subImgPath}}">
                                        {{/each}}
                                    </div>

                                </div>
                                <div class="ps-shoe__detail"><a class="ps-shoe__name" href="#">{{shoeName}}</a>
                                    <p class="ps-shoe__categories"><a style="cursor:default;">{{shoeBrand}}</a></p>
                                    <span class="ps-shoe__price">
                                        ${{shoeCost}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<div class="ps-home-testimonial bg--parallax pb-80">
    <div class="container">
        <div class="owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="0"
            data-owl-nav="false" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1"
            data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on"
            data-owl-animate-in="fadeIn" data-owl-animate-out="fadeOut">
            <div class="ps-testimonial">
                <div class="ps-testimonial__thumbnail"><img src="/images/user/userA.jpg" alt=""><i
                        class="fa fa-quote-left"></i></div>
                <header>
                    <p>Logan May - CEO & Founder Invision</p>
                </header>
                <footer>
                    <p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has been the industry's standard dummy text ever since the 1500s…“</p>
                </footer>
            </div>
            <div class="ps-testimonial">
                <div class="ps-testimonial__thumbnail"><img src="/images/user/userB.jpg" alt=""><i
                        class="fa fa-quote-left"></i></div>
                <header>
                    <p>Apple June - CFO</p>
                </header>
                <footer>
                    <p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has been the industry's standard dummy text ever since the 1500s…“</p>
                </footer>
            </div>
            <div class="ps-testimonial">
                <div class="ps-testimonial__thumbnail"><img src="/images/user/userC.jpg" alt=""><i
                        class="fa fa-quote-left"></i></div>
                <header>
                    <p>Grape Dec - CMO</p>
                </header>
                <footer>
                    <p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has been the industry's standard dummy text ever since the 1500s…“</p>
                </footer>
            </div>
        </div>
    </div>
</div>
<div class="ps-section ps-home-blog pt-80 pb-80">
    <div class="ps-container">
        <div class="ps-section__header mb-50">
            <h2 class="ps-section__title" data-mask="News">- Our Story</h2>
        </div>
        <div class="ps-section__content">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                    <div class="ps-post">
                        <div class="ps-post__thumbnail"><a class="ps-post__overlay" href="blog-detail.html"></a><img
                                src="/images/dStory/A.jpg" alt=""></div>
                        <div class="ps-post__content"><a class="ps-post__title" href="blog-detail.html">Lorem Ipsum</a>
                            <p class="ps-post__meta"><span>By:<a class="mr-5" href="blog.html">Papa
                                        Studio</a></span> -<span class="ml-5">Jun 10, 2017</span></p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s…</p><a
                                class="ps-morelink" href="#">Read more<i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                    <div class="ps-post">
                        <div class="ps-post__thumbnail"><a class="ps-post__overlay" href="blog-detail.html"></a><img
                                src="/images/dStory/B.jpg" alt=""></div>
                        <div class="ps-post__content"><a class="ps-post__title" href="blog-detail.html">Lorem Ipsum</a>
                            <p class="ps-post__meta"><span>By:<a class="mr-5" href="blog.html">Papa
                                        Studio</a></span> -<span class="ml-5">Jun 10, 2017</span></p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s…</p><a
                                class="ps-morelink" href="#">Read more<i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                    <div class="ps-post">
                        <div class="ps-post__thumbnail"><a class="ps-post__overlay" href="blog-detail.html"></a><img
                                src="/images/dStory/C.jpg" alt=""></div>
                        <div class="ps-post__content"><a class="ps-post__title" href="blog-detail.html">Lorem Ipsum</a>
                            <p class="ps-post__meta"><span>By:<a class="mr-5" href="blog.html">Papa
                                        Studio</a></span> -<span class="ml-5">Jun 10, 2017</span></p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s…</p><a
                                class="ps-morelink" href="#">Read more<i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>